{% extends "./base.html" %}
{% block title %}Perfil{% endblock %}
{% block body %}
<header style="display: flex; flex-direction: row; width: 99vw; align-items: center;">
    <h1><a href="/perfil" style="text-decoration: none; color: rgb(21, 0, 99);">Perfil</a></h1>
    <div style=" display: flex; flex-direction: row; gap: 8px; justify-content: flex-end; align-items: end; width: 100%;">
        <p><a href="/anyadir" style="color: black; text-decoration: none; background-color: bisque; cursor: pointer; padding: 6px; border-radius: 10px;">Añadir</a></p>
        <p><a href="/logout" style="color: black; text-decoration: none; background-color: rgb(162, 204, 8); cursor: pointer; padding: 6px; border-radius: 10px;">Logout</a></p>
    </div>
</header>
    <h1>Bienvenido</h1>
    <button><a href="/anyadir">Empecemos con los datos</a></button>
</body>
<footer>

</footer>

{% endblock %}